@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  min-height: 100vh;
  background: rgb(32, 32, 32);

  svg {
    height: 100%;
  }
}

.spacer {
  height: 100%;
}

.bubble-page {
  display: flex;
  background: rgb(32, 32, 32);
}

.bubble-wrap {
  margin: 0 auto;
  top: 20%;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: 100%;
  width: 300px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-bottom-right-radius: 10px;
  padding-bottom: 1rem;

  .color-list-head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.delete {
  color: rgb(216, 87, 87);
  margin-right: 1rem;
}

.color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
}

form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  legend {
    padding-left: 40px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 16px;
  }

  label {
    display: flex;
    justify-content: space-between;
    padding: 4px 36px 4px 40px;
  }

  input {
    width: 100px;
  }
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;

  button {
    border: none;
    background-color: black;
    color: white;
    padding: 3px 8px;
    margin-top: 16px;
  }
}

.modal-background {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;

  .modal-box {
    position: absolute;
    padding: 2rem 1rem;
    background: white;
    border-radius: 8px;
    width: 15rem;
    top: 30%;
  }
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;

  .login-form {
    width: 50%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .propmt-link {
    color: rgb(55, 55, 212);

    &:hover {
      cursor: pointer;
    }
  }
}
